body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #474747;
	background-color: #FFF;
	margin: 0px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-weight: normal;
}
table {
	width:100%;
	margin-top: 15px;
}
th {
	font-size: 14px;
	font-weight: normal;
	background-color: #8CDCF3;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left: 6px;
}
th.active img {
	float: right;
    margin-right: 10px;
}
tr.even, tr.odd {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
tr.odd td {
	font-size: 14px;
    font-weight: normal;
	background-color: #ECF9FC;
}
tr.privatemsg-unread.odd td a, 
tr.privatemsg-unread.even td a {
	font-weight:bold;
}
tr.even td {
	font-size: 14px;
    font-weight: normal;
	background-color: #FFF;
	
}

ul.primary {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
ul.primary li a {
	padding-top: 6px;
	padding-right: 20px;
	padding-bottom: 6px;
	padding-left: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8CDCF3;
	border-right-color: #8CDCF3;
	border-bottom-color: #8CDCF3;
	border-left-color: #8CDCF3;
	background-color: #ECF9FC;
}
ul.primary li a.active {
	border-top-color: #8CDCF3;
	border-right-color: #8CDCF3;
	border-bottom-color: #8CDCF3;
	border-left-color: #8CDCF3;
	background-color: #FFF;
}
ul.primary li a:hover {
	background-color: #8CDCF3;
	border: 1px solid #8CDCF3;
}
li a.active {
	color:#474747;
}
a, a:link, a:visited {
	color:#0555d9;
	text-decoration:none;
}
a:hover, a:active {
	color:#0555d9;
	text-decoration:underline;
}
.form-wrapper a, .form-wrapper a:link {
	text-decoration:none;
}
h1, h2, h4, h4, h5 {
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color:#201b1c;
	font-weight:600;
}
/* hide any HRs used in the layout, but show them in main content */
hr,
.ahem,
#skip-link {
  display: none;
}
#content hr {
  	display: block;
  	color: #8CDCF3;
	background-color: #8CDCF3;
	height: 1px;
	border:0px;
}

/* uncomment these color rules to make the layout easier to see */
/*
#main           { background: #ccc; }
#content        { background: #eee; }
#sidebar-first  { background: #ccf; }
#sidebar-second { background: #fcc; }
#navigation     { background: #ffc; }
#header         { background: #cff; }
#footer         { background: #cfc; }
*/

/* Holy Grail Layout ---------------------------------------------------------
   ref: http://www.alistapart.com/articles/holygrail
   This layout takes advantage of negative margins to float the sidebars to
   either side of the main content. It also floats the navigation above the
   content, but you could just as easily absolutely position it.
   
   LC stands for Left Column, RC for Right Column
   
   Obvously, this layout is for left-to-right languages. For a
   right-to-left layout, just swap all the left and rights below.
   */
#page {
  width: 946px;
  margin: 0 auto;
}
#content,
#navigation,
#sidebar-first,
#sidebar-second {
  float: left;
}
.with-navigation #content,
.with-navigation #sidebar-first,
.with-navigation #sidebar-second {
  /* margin-top: 3em;        NAV height */
}
#sidebar-first {
	float:right;
}
#navigation {
  /*height: 3em;            NAV height */
  width: 100%;
  margin-right: -100%;
}
#navigation h2 {
  margin: 0;
}
#content {
  padding-top:25px;
  width: 100%;
  margin-right: -100%;
  clear: both;
}
.node-type-page #content {
  width: 100%;
  margin-right: -100%;
  clear: none;
}



.sidebar-first #content .section {
  padding-right: 375px;   
}
.sidebar-second #content .section {
  padding-right: 160px;  
}
.two-sidebars #content .section {
  padding-left: 200px;  
  padding-right: 160px;  
}
#sidebar-first {
  width: 355px;     
  padding-right:9px;
  clear: right;
}
#sidebar-second {
  float: right;
  width: 160px;          
  margin-left: -160px;   
}

#footer {
  clear: both;
}
/* IE6 fix */
* html #sidebar-first {
  left: 160px;           /* RC width */
}


/* GE styles */
#main-wrapper {
	width:910px;
	margin-left:22px;
	
	
}
#logo {
	float:left;
	width:127px;
	text-align:left;
	padding-left: 25px;
	padding-right: 75px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#session {
	float:right;
	width:175px;
	font-size: 14px;
	text-align: right;
	padding-right: 25px;
}

#navbar{
	height:68px;
	margin:0px;
	padding:0px;
}
#navbar li{display:inline-block;float:left;list-style-type:none;}
#navbar ul{margin:0px;padding:0px;}
#navbar a:link,
#navbar a:visited {
	font-family: 'PT Sans', Arial, sans-serif;
	color: rgb(10, 181, 233);
	border: 1px solid #FFF;
	text-decoration:none;
	float:left;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	display:block;
	margin-right: 15px;
	margin-top: 18px;
	padding: 15px 12px;
	-moz-box-shadow: 3px 3px 4px #d8f1f9;
	-webkit-box-shadow: 3px 3px 4px #d8f1f9;
	box-shadow: 0 0 5px 3px #d8f1f9;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#d8f1f9')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#d8f1f9');
	 -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    behavior: url(../border-radius.htc);
    border-radius: 12px;


	background-image: linear-gradient(bottom, rgb(233,248,252) 0%, rgb(255,255,255) 21%, rgb(255,255,255) 48%);
	background-image: -o-linear-gradient(bottom, rgb(233,248,252) 0%, rgb(255,255,255) 21%, rgb(255,255,255) 48%);
	background-image: -moz-linear-gradient(bottom, rgb(233,248,252) 0%, rgb(255,255,255) 21%, rgb(255,255,255) 48%);
	background-image: -webkit-linear-gradient(bottom, rgb(233,248,252) 0%, rgb(255,255,255) 21%, rgb(255,255,255) 48%);
	background-image: -ms-linear-gradient(bottom, rgb(233,248,252) 0%, rgb(255,255,255) 21%, rgb(255,255,255) 48%);

	background-image: -webkit-gradient(
		linear,
		right bottom,
		right top,
		color-stop(0, rgb(233,248,252)),
		color-stop(0.21, rgb(255,255,255)),
		color-stop(0.48, rgb(255,255,255))
	);


	/*background-image:url(../images/top_nav_sprite.png);
	background-repeat:no-repeat;*/
}
.front #navbar #home,
.node-type-page #navbar #learn-more,
.page-forum #navbar #forums,
.page-node-6 #navbar #browse, /* browse */
.page-node-25 #navbar #browse, /* map */
.node-type-exchange #navbar #browse, /* postings */
.page-search #navbar #browse, /* search */
.page-browse #navbar #browse, /* gift and need pages */
.page-node-add-exchange #navbar #post {
	color: rgb(191, 230, 240);
}
.front #navbar #learn-more,
.page-node-25 #navbar #learn-more {
	color: rgb(10, 181, 233);
}
.front #navbar #learn-more:hover,
.page-node-25 #navbar #learn-more:hover,
#navbar a:hover {
	color: rgb(191, 230, 240);
}
/*
#navbar li a#home{
	background-image:url(../images/top_nav_sprite.png);
	background-repeat:no-repeat;
	height:68px;
	width:109px;
	display:block;
	background-position:0px 0px;
	overflow:hidden;
}
#navbar li a#forums {
	background-image:url(../images/top_nav_sprite.png);
	background-repeat:no-repeat;
	height:68px;
	width:121px;
	display:block;
	background-position:-486px 0px;
	overflow:hidden;
}
#navbar li a#learn-more{
	background-image:url(../images/top_nav_sprite.png);
	background-repeat:no-repeat;
	height:68px;
	width:155px;
	display:block;
	background-position:-329px 0px;
	overflow:hidden;
}
#navbar li a#browse{
	background-image:url(../images/top_nav_sprite.png);
	background-repeat:no-repeat;
	height:68px;
	width:119px;
	display:block;
	background-position:-109px 0px;
	overflow:hidden;
}
#navbar li a#post{
	background-image:url(../images/top_nav_sprite.png);
	background-repeat:no-repeat;
	height:68px;
	width:97px;
	display:block;
	background-position:-230px 0px;
	overflow:hidden;
}
#navbar li a#home:hover,
.front #navbar li a#home {
	background-position:0px -68px;
}
#navbar li a#forums:hover {
	background-position:-486px -68px;
}
#navbar li a#learn-more:hover,
.page-node-614 #navbar li a#learn-more {
	background-position:-329px -68px;
}
#navbar li a#browse:hover,
.page-node-66 #navbar li a#browse,
.page-browse #navbar li a#browse,
.node-type-exchange #navbar li a#browse,
.page-node-522 #navbar li a#browse {
	background-position:-109px -68px;
}
#navbar li a#post:hover,
.page-node-add #navbar li a#post {
	background-position:-230px -68px;
}
*/
/* big blue block */
#home-block {
	-webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.12);
	box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.12);
	width: 846px;
	background-color: #05aad9;
    margin: 20px auto;
    padding: 20px;
	text-align: left;
	font-weight: normal;
}
#left-home-block {
	color: #FFF;
	font-size: 22px;
	float:left; 
	width:480px; 
	height:230px;
}
#left-home-block h1 {
	color: #FFF;
	font-size: 22px;
	font-weight: normal;
}
#subscribe-form-container {
	position: relative;
	background-color: #05AAD9;
	color: #FFF;
	border: 1px solid #8CDCF3;
	padding-left: 15px;
	padding-right:15px;
	padding-top:15px;
	width: 320px;
}
/* add captcha to login */
#subscribe-form-container fieldset {
	background-color: transparent;
}
.front #subscribe-form-container {
	float:right;
}
#subscribe-form-container label {
	font-weight: normal;
	float: left;
	line-height: 28px;
}
#subscribe-form-container #edit-pass {
	width:100px;
}
#subscribe-form-container #edit-name {
	width:230px;
}
#subscribe-form-container .form-item {
margin-top: 5px;
margin-bottom: 5px;
}
#subscribe-form-container input:disabled {
	background-color: #8CDCF3;
} 
#subscribe-form-container .form-required {
	display:none; 
}
.home-errors {
	display:none;
	position: absolute;
	color:#8C2E0B;
	background-color: #FEF5F1;
	font-size: 14px;
	border: 1px solid #ED541D;
}
#edit-name-error-msg {
	top:45px;
	left:250px;
}
#edit-pass-error-msg {
	top: 115px;
	left: 220px;
}
#footer {
	width:910px;
	padding-left:25px;
}
#footer, #footer a {
	font-size:14px;
}

/* GE buttons and input styling */
input.form-submit, input.btn, a.btn, a.btn:visited {
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	position:relative;
	/*float: left;*/
	height: 32px;
	line-height: 32px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #8cdcf3;
	border: 0;
	color: #474747;
	text-decoration: none;
	behavior: url(../scripts/PIE/PIE.htc);
	font-size: 16px;
	padding-left:15px;
	padding-right:15px;
	margin-right:25px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.form-select {
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #474747;
	border: 2px solid #8cdcf3;
}
a.btn, a.btn:visited {
	padding-left:25px;
	padding-right:25px;
	padding-top: 9px;
	padding-bottom: 6px;
}
#exchange_edit_btn {
	padding-top: 0px;
	padding-right: 25px;
	padding-bottom: 0px;
	padding-left: 25px;
}

a.btn.view_all_gifts {
	background-color:#32BE5F; /* green */
	color:#FFF;
}
a.btn.view_all_needs {
	background-color:#05AAD9; /* blue */
	color:#FFF;
}
a.btn.grey {
	background: #DBD9D9; /* grey */
	color:#474747;
}

/* submit button */
input.form-submit#edit-submit, 
input.form-submit#ge_submit,
#exchange-complete-form input.form-submit,
#exchange-rate-form input.form-submit {
	background: #05aad9;
	color:#FFF;
}
#subscribe-form-container input.form-submit {
	background: #8cdcf3; /* light blue */
	color: #474747;
}
input.form-submit#ge_submit.gift {
	background: #32BE5F; /* green */
}
input.btn:hover, input.form-submit:hover, input.plain_btn:hover {
	cursor:pointer;
}
input, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#474747;
	background-color:#f7f7f7;
	border: 2px solid #8cdcf3;
}
input.required,
textarea.required,
.form-select.required {
	font-size:16px;
	border: 2px solid #05aad9;
}
#block-invite-invite input {
	color:#474747;
	border: 2px solid #94daed;
	margin-bottom:6px;
}

/*new exchange page styles */
#edit-field-give-or-share-und {
	width:300px;
}
#edit-field-exchange-type-und {
	width:200px;
}

#edit-field-exchange-quantity-und {
	width:100px;
}
/* report problem page */
#edit-submitted-category {
	width:300px;
}
/* gift and need grid layout */
div.gift, div.gift_to_share, 
div.wish, div.wish_to_share, 
div.response_for_gift, 
div.response_for_gift_share, 
div.response_for_wish,
div.response_for_wish_share {
	display:block;
	background-image: url(../images/ge_tag_sprite.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 25px;
	width: 62px;	
	overflow:hidden;
}
div.wish, div.wish_to_share, 
div.response_for_gift, 
div.response_for_gift_share {
	background-position: 0px -25px;
}
div.Goods,
div.Actions,
div.Knowing,
div.Compassion,
div.Services,
div.Knowledge {
	display:block;
	background-image: url(../images/ge_tag_sprite.png);
	background-repeat: no-repeat;
	background-position: 0px -100px;
	height: 25px;
	width: 99px;	
	overflow:hidden;
}
div.Actions, div.Services {
	background-position: 0px -50px;
}
div.Compassion {
	background-position: 0px -125px;
}
div.Knowing, div.Knowledge {
	background-position: 0px -75px;
}
.view .country-name, .view .map-link {
	display:none;
}
.view-gifts table, .view-needs table, .view-search table, .view-user-profile-summary table {
	width:100%;
}
.view-gifts th, .view-needs th, .view-search th, .view-user-profile-summary th {
	background:#8EEBAC;
	font-weight:normal;
	font-size:14px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left:6px;
}
.view-needs th, .view-search th, .view-user-profile-summary th {
	background-color:#8CDCF3; /* blue */
}
.view-gifts th.views-field-field-give-or-share, .view-needs th.views-field-field-give-or-share, .view-search th.views-field-field-give-or-share, .view-user-profile-summary th.views-field-field-give-or-share {
	border:0px;
}
.view-gifts th a, .view-needs th a, .view-search th a {
	font-weight:normal;
	font-size:14px;
	color:#474747;
	text-decoration:none;
}
.view-gifts th a:hover, .view-needs th a:hover, .view-search th a:hover {
	text-decoration:underline;
}
tbody {
	border-top: 0;
}
.view-gifts th.active { /* green */
	background:#32BE5F;
}
.view-needs th.active, .view-search th.active { /* blue */
	background:#05AAD9;
}
.view-gifts th.active a, .view-needs th.active a, .view-search th.active a {
	font-weight:normal;
	font-size:14px;
	color:#fff;
	text-decoration:none;
}
.view-gifts th.active a img, .view-needs th.active a img, .view-search th.active a img, .view-user-profile-summary th.active a img {
	float:right;
	margin-right:10px;
}
.view-search th.active a img {
	margin-right:4px;
}
.view-gifts tr, .view-needs tr, .view-search tr, .view-user-profile-summary tr {
	border:0px;
}
.view-gifts td, .view-needs td, .view-search td, .view-user-profile-summary td {
	background:#fff;
	font-weight:normal;
	font-size:14px;
	border:0px;
	height:29px;
	padding-left:3px;
}
.view-gifts tr.even td, .view-needs tr.even td, .view-search tr.even td {
	background:#ECF9FC; /* light blue */
}
/* drop shadow boxes */
div.gradient-box {
	background-image: url(../images/gradient-middle.gif);
	background-repeat: repeat-y;
	width: 858px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	position: relative;
	left: -9px;
}
div.gradient-box-top {
	background-image: url(../images/gradient-top.gif);
	background-repeat: no-repeat;
	width: 918px;
	height: 46px;
	position: relative;
	left: -9px;
}
div.gradient-box-bottom {
	background-image: url(../images/gradient-bottom.gif);
	background-repeat: no-repeat;
	width: 918px;
	height: 13px;
	position: relative;
	left: -9px;
}
div.exchange.gradient-box-top {
	background-image: url(../images/gradient-top.gif);
	background-repeat: no-repeat;
	width: 888px;
	height: 46px;
	padding-left: 30px;
	overflow: hidden;
}
div.exchange.gradient-box-top {
	background-image: url(../images/gradient-top-item-page.gif);
	background-repeat: no-repeat;
	width: 918px;
	height: 12px; 
	/* tabs height: 46px;*/
}


/* exchange node */
h1 {
	font-size:30px;
	margin:0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
h2 {
	font-size:24px;
}
h3 {
	font-size:18px;
}
.label {
	display:inline-block;
	width:175px;
	
	color:#b0b0b0;
}
a.userlink {
	display:inline-block;
	height:24px;
	background-repeat: no-repeat;
	background-position: left top;	
}
a.userlink:hover {
	text-decoration:none;
}
.node-type-exchange fieldset#edit-field-detailed-exchange-desc-und-0-format, 
.page-node-add-exchange fieldset#edit-field-detailed-exchange-desc-und-0-format, 
.node-type-exchange .form-item-field-exchange-location-und-0-delete-location,
.page-user-edit .form-item-locations-0-delete-location,
.page-user-edit .location .fieldset-legend {
	display:none;
}
fieldset {
	background-color:#ecf9fc;
	border:0px;
}
/* hide various fields on exchange form */
.form-item-field-exchange-date-und-0-show-repeat-settings, 
.form-item-field-exchange-date-und-0-all-day, 
.form-item-field-exchange-location-und-0-name,
.form-item-field-exchange-location-und-0-phone { 
	display:none;
}
/* breadcrumb */
#breadcrumb, #breadcrumb a, #breadcrumb a:visited {
	font-size:14px;
}
#breadcrumb {
	color: #B0B0B0;
	padding-bottom:10px;
}
/* search page */
#block-views-exp-search-page {
	background-image: url(../images/search_bg.gif);
	background-repeat: no-repeat;
	width: 898px;
	height:58px;
	padding-top: 12px;
	padding-left: 20px;
	margin-left:13px;
}

#block-views-exp-search-page #edit-uid, #block-views-exp-search-page #edit-uid--2 {
	margin-top:3px;
	width:150px;
}
#block-views-exp-search-page .views-widget-filter-uid .description {
	display:none;
}
#block-views-exp-search-page #edit-search {
	margin-top:3px;
	width:175px;
}
#block-views-exp-search-page .views-exposed-form .views-exposed-widget .form-submit {
	margin-top:0px;
}
#block-views-exp-search-page #edit-type-wrapper, #block-views-exp-search-page #edit-cat-wrapper {
	padding-top:10px;
}
/* set drop down widths */
#block-views-exp-search-page #edit-type {
	width:120px;
}
#block-views-exp-search-page #edit-cat, #edit-cat {
	width:240px;
}
#block-views-exp-search-page {
	clear:both;
	
}
/* messages page actions drop down */
#edit-operation {
	width:200px;
}
#block-views-exp-search-page .views-exposed-form .views-exposed-widget.views-submit-button {
	padding-top:8px;
	padding-right:0px;
	padding-bottom:5px;
}
#block-views-exp-search-page .views-exposed-form .views-submit-button input#edit-submit-search {
	width:100px;
	margin-right:0px;
	background-image: url(../images/search_button_bg.gif);
	background-repeat: no-repeat;
	background-position: 90% center;
	padding-right:25px;
	
}
/* hide drop downs on rate form */
.fivestar-widget .ui-selectmenu-dropdown {
	display:none;
}
.fivestar-widget .average-rating, .fivestar-widget .total-votes, .fivestar-widget .empty {
	display:none;
}
/* display uneditable star ratings */
.display-stars, .display-stars.one {
	background-image: url("../images/stars_sprite.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block;
	height: 14px;
	width: 84px;
	overflow: hidden;
}
.display-stars.two {
	background-position: 0px -14px;
}
.display-stars.three {
	background-position: 0px -28px;
}
.display-stars.four {
	background-position: 0px -42px;
}
.display-stars.five {
	background-position: 0px -56px;
}
div.fivestar-widget .star,
div.fivestar-widget .star a {
	background: url("../images/star.gif") no-repeat scroll 0 0 transparent;
}
/* comments */
header.submittedby {
	font-style:italic;
	float:right;
	width:250px;
}
article.comment {
	background-color: #F7F7F7;
	padding-left: 25px;
	border-left-width: 25px;
	border-left-style: solid;
	border-left-color: #8cdcf3;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-bottom: 15px;
}
article.comment.giftor {
	border-left-color: #8EEBAC;
}
article.comment.giftee {
	border-left-color: #8cdcf3;
}
/* user home page */
.view-user-home li.views-row {
	list-style:none;
	padding:0px;
	margin:0px;
}

.my_exchange_grid {
	/*background-color: #F7F7F7;
	border: 2px solid #8cdcf3;
	*/
	background-color: #ECF9FC;
	margin-bottom: 50px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.my_exchange_grid_inner {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
}
.view-user-home li.views-row .views-field-field-exchange-type, .view-user-home li.views-row .views-field-field-give-or-share {
	float:right;
	padding-left:15px;
}
a.highlight {
	color:#F00;
}
.highlighdiv {
	/*background-color:#fff;
	padding:5px;*/
}
.my_exchanges_flags {
	float:right;
	padding-top: 4px;
	padding-right: 10px;
}
.status_flag {
	background-color: #ECF9FC;
	font-size: 24px;
	font-weight: bold;
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 3px;
	padding-left: 15px;
	border: 1px solid #8CDCF3;
	margin-bottom: 5px;
}
.my_exchange_grid h2 {
	background-color: #8CDCF3;
	font-size: 24px;
	margin: 0px;
	width:900px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 10px;
	color: #474747;
}
.my_exchange_grid h2 a {
	color: #474747;
}
.fieldset-legend {
	font-weight:bold;
}
.field-type-fivestar .field-label {
	font-weight:normal;
}
/* cancel form styles */
.form-item-exchange-cancel-form-reason {
	clear:both;
	display:none;
	background-color:#DBD9D9;
	z-index: 99;
	padding-top: 0px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;	
}
#exchange-cancel-form .form-submit {
	float:right;
	clear:both;
}

/* map page styles */
.infoboxcontainer {
	width:370px;
}
#legend {
	float:right;
	width:175px;
	padding-left:25px;
}
.mapcontrol-container input {
	position:relative;
	bottom:8px;
	right:5px;
}
/* hide duplicate location fields on exchange pages  
.page-node-add-exchange .form-item-field-exchange-date-und-0-show-todate,
.page-node-add-exchange .notadmin .vertical-tabs,
.page-node-edit.node-type-exchange .notadmin .vertical-tabs {
	display:none;
}*/
/* hide vertical tabs on Exchange nodes */
.node-exchange-form .vertical-tabs-list {
	display:none;
}
div.vertical-tabs,
.vertical-tabs ul.vertical-tabs-list {
	margin:0;
	border: 0;
}
.page-node-add-exchange .date-no-float {
	float:left;
	clear:none;
}
#edit-field-exchange-date legend {
	display:none;
}
#edit-field-exchange-longevity, #edit-field-exchange-date {
	background-color: #ECF9FC;
    border: 0 none;
}
#edit-field-exchange-longevity .form-item {
	margin-bottom:0px;
}

/* flagging */
a.flag-action, a.unflag-action, span.unflag-action {
	background-image:url(../images/flag-sprite.gif);
	text-decoration: none;
	color:#db6111;
	font-size:13px;
	background-repeat: no-repeat;
	background-position: 0px -30px;
	display: inline-block;
	height: 30px;
	width: 53px;
	overflow: hidden;
	line-height: 30px;
	padding-left: 30px;
}
span.unflag-action {
	background-position: 0px 0px;	
	color:#9e9e9e;
}
.flagcount {
	position:relative;
	right: 25px;	
}
.page-node-6 h1#page-title { /* browse page */
	display:none;
}
#comment-form-wrapper,
#ge-comment-form-wrapper {
	background-color: #ECF9FC;
	padding:10px;
}
#ge-comment-form-wrapper {
	background-color: #fff;
	margin-left:50px;
}
#ge-comment-form-wrapper .form-submit,
#exchange-cancel-form .form-submit {
	background-color:#DBD9D9;
}
.node-type-exchange footer ul.links.inline {
	display:none;
}
.progress-meter-container {
	clear: right;
	float: right;
	padding-top:25px;
}
a.simple-dialog.progress-meter {
	background-image: url(../images/progress-meter-sprite.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	height: 45px;
	width: 281px;
	text-decoration:none;
}
a.simple-dialog.progress-meter:hover {
	text-decoration:none;
}
a.simple-dialog.progress-meter.gift.two {
	background-position: 0px -45px;
}
a.simple-dialog.progress-meter.gift.three {
	background-position: 0px -90px;
}
a.simple-dialog.progress-meter.gift.four {
	background-position: 0px -135px;
}
a.simple-dialog.progress-meter.gift.five {
	background-position: 0px -180px;
}
a.simple-dialog.progress-meter.gift.six {
	background-position: 0px -225px;
}
a.simple-dialog.progress-meter.gift.seven {
	background-position: 0px -270px;
}
a.simple-dialog.progress-meter.gift.eight {
	background-position: 0px -315px;
}
a.simple-dialog.progress-meter.need.one {
	background-position: -281px 0px;
}
a.simple-dialog.progress-meter.need.two {
	background-position: -281px -45px;
}
a.simple-dialog.progress-meter.need.three {
	background-position: -281px -90px;
}
a.simple-dialog.progress-meter.need.four {
	background-position: -281px -135px;
}
a.simple-dialog.progress-meter.need.five {
	background-position: -281px -180px;
}
a.simple-dialog.progress-meter.need.six {
	background-position: -281px -225px;
}
a.simple-dialog.progress-meter.need.seven {
	background-position: -281px -270px;
}
a.simple-dialog.textlink {
	font-size:12px;
	font-style:italic;
}
a.small {
	font-size:12px;
	font-style:italic;
}
.view-gifts .view-header p,
.view-needs .view-header p {
	margin:0px;
	padding:0px;
}
.view-gifts .view-header,
.view-needs .view-header {
	width:100px;
	position:relative;
	top:42px;
	left:1px;
}
.view-needs .view-header a.maplink,
.view-gifts .view-header a.maplink {
	color: #474747;
	font-size: 14px;
	text-decoration: none;
	background-image: url(../images/map-background-icon.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	height: 26px;
	line-height: 25px;
	padding-left: 30px;
	width: 143px;
	padding-top: 1px;
}
a.mapicon {
	background-image: url(../images/map-background-icon.png);
	background-repeat: no-repeat;
	background-position: right center;
	display: inline-block;
	margin: 0px;
	height: 25px;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.bluebox  p {
	line-height:25px;
}
.view-gifts .view-header a.maplink:hover {
	text-decoration: none;
	background-color: #32BE5F;
}
.view-needs .view-header a.maplink:hover {
	text-decoration: none;
	background-color: #05AAD9;
}
.view-header .summary {
	width:250px;
	font-style:italic;
	position: relative;
	top: -15px;	
}

.location form-item-field-exchange-location-und-0-locpick-user-latitude,
.location form-item-field-exchange-location-und-0-locpick-user-longitude,
.location .description
{
}
/* hover state on sortable columns on browse pages */


/* first column */
.view-search th.views-field-field-give-or-share,
.view-needs th.views-field-field-give-or-share,
.view-gifts th.views-field-field-give-or-share {
	width:68px;
	vertical-align:middle;
	padding: 0px;
}
/* second column */
.view-search th.views-field-field-exchange-type,
.view-needs th.views-field-field-exchange-type,
.view-gifts th.views-field-field-exchange-type {
	width:107px;
	vertical-align:middle;
	padding: 0px;
}
/* Name column */
.view-search th.views-field-nothing,
.view-needs th.views-field-nothing,
.view-gifts th.views-field-nothing {
	width:144px;
	vertical-align:middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
}
/* Title column */
.view-search th.views-field-title,
.view-needs th.views-field-title,
.view-gifts th.views-field-title {
	padding:0px;
	width:225px;
	vertical-align:middle;
}
.view-search th.views-field-title a,
.view-needs th.views-field-title a,
.view-gifts th.views-field-title a {
	padding-left:6px;
	padding-top:5px;
	height:22px;
	display:block;
	width:224px;
}
.view-search th.views-field-title a:hover,
.view-needs th.views-field-title a:hover,
.view-gifts th.views-field-title a:hover {
	background-color: #32BE5F;
	background-image: url(../images/arrow_desc.png);
	background-repeat: no-repeat;
	background-position: 205px center;
	text-decoration:none;
}
.view-search th.views-field-title a:hover,
.view-needs th.views-field-title a:hover {
	background-color: #05AAD9;
}
.view-search th.views-field-title.active a:hover,
.view-needs th.views-field-title.active a:hover,
.view-gifts th.views-field-title.active a:hover {
	background-image:none; !important
}
/* Rating column */
.view-search th.views-field-php-1,
.view-needs th.views-field-php,
.view-gifts th.views-field-php {
	padding:0px;
	width:89px;
	vertical-align:middle;
}
.view-search th.views-field-php-1 a,
.view-needs th.views-field-php a,
.view-gifts th.views-field-php a {
	padding-left:6px;
	padding-top:5px;
	height:22px;
	display:block;
	width:83px;
}
.view-search th.views-field-php-1 a:hover,
.view-needs th.views-field-php a:hover,
.view-gifts th.views-field-php a:hover {
	background-color: #32BE5F;
	background-image: url(../images/arrow_desc.png);
	background-repeat: no-repeat;
	background-position: 69px center;
	text-decoration:none;
}
.view-search th.views-field-php-1 a:hover,
.view-needs th.views-field-php a:hover {
	background-color: #05AAD9;
}
.view-search th.views-field-php-1.active a:hover,
.view-needs th.views-field-php.active a:hover,
.view-gifts th.views-field-php.active a:hover {
	background-image:none; !important
}

/* Date column */
.view-search th.views-field-created,
.view-needs th.views-field-php,
.view-gifts th.views-field-php {
	padding:0px;
	width:69px;
	vertical-align:middle;
}
.view-search th.views-field-created a,
.view-needs th.views-field-php a,
.view-gifts th.views-field-php a {
	padding-left:6px;
	padding-top:5px;
	height:22px;
	display:block;
	width:82px;
}
.view-search th.views-field-created a:hover,
.view-needs th.views-field-php a:hover,
.view-gifts th.views-field-php a:hover {
	background-color: #32BE5F;
	background-image: url(../images/arrow_desc.png);
	background-repeat: no-repeat;
	background-position: 67px center;
	text-decoration:none;
}
.view-search th.views-field-created a:hover,
.view-needs th.views-field-php a:hover {
	background-color: #05AAD9;
}
.view-search th.views-field-created.active a:hover,
.view-needs th.views-field-php.active a:hover,
.view-gifts th.views-field-php.active a:hover {
	background-image:none; !important
}


/* Distance column */
.view-search th.views-field-distance,
.view-needs th.views-field-distance,
.view-gifts th.views-field-distance {
	padding:0px;
	width:85px;
	vertical-align:middle;
}
.view-search th.views-field-distance a,
.view-needs th.views-field-distance a,
.view-gifts th.views-field-distance a {
	padding-left:6px;
	padding-top:5px;
	height:22px;
	display:block;
	width:79px;
}
.view-search th.views-field-distance a:hover,
.view-needs th.views-field-distance a:hover,
.view-gifts th.views-field-distance a:hover {
	background-color: #32BE5F;
	background-image: url(../images/arrow_desc.png);
	background-repeat: no-repeat;
	background-position: 65px center;
	text-decoration:none;
}
.view-search th.views-field-distance a:hover,
.view-needs th.views-field-distance a:hover {
	background-color: #05AAD9;
}
.view-search th.views-field-distance.active a:hover,
.view-needs th.views-field-distance.active a:hover,
.view-gifts th.views-field-distance.active a:hover {
	background-image:none; !important
}

#views-exposed-form-search-page #edit-title-wrapper, 
#views-exposed-form-search-page #edit-realname,
#views-exposed-form-search-page #edit-title--2-wrapper {
	display:none;
}
/* user avatars in PM area */
.privatemsg-author-avatar .user-picture img {
	max-width:100px;
}
.region-help a.youtube{
	float:right;
	margin-right:15px;
}
a.current {
	color:#787979;
}
div.help-icon {
	float:right;
}

/* add private and public text area colors */
#user-profile-form #edit-field-user-firstname-und-0-value,
#user-register-form #edit-field-user-firstname-und-0-value,
#user-profile-form #edit-field-user-lastname-und-0-value,
#user-register-form #edit-field-user-lastname-und-0-value,
#user-profile-form #edit-locations-0-city,
#user-register-form #edit-locations-0-city,
#user-profile-form #edit-locations-0-province,
#user-register-form #edit-locations-0-province,
#user-profile-form #edit-locations-0-postal-code,
#user-register-form #edit-locations-0-postal-code,
#user-profile-form .location_auto_country,
#user-register-form .location_auto_country,
#user-profile-form .form-item-field-user-description-und-0-value .form-textarea-wrapper,
p.shareborder { 
	border: 2px solid #32BE5F;
}
div.user-registration-form-key {
	background-color:#F7F7F7;
	padding-top: 1px;
	padding-right: 10px;
	padding-bottom: 40px;
	padding-left: 10px;
	margin-bottom: 25px;
	text-align:center;
}
.block {
	clear:both;
	padding-top:25px;
}
.password-parent {
	width: 500px;;
}
.password-strength {
	width: 200px;
}
fieldset#edit-locations {
	margin-top: 1em;
}
.view-user-profile-summary .view-header .result-summary {
	font-weight: bold;
}
aside#sidebar-first {
	padding-top:15px;
}
.user-profile-image {
	float:right;
	padding-left:25px;
	padding-bottom:25px;
	padding-right:25px;
}
#block-invite-invite h2 {
	color:#FFF;
	font-weight: normal;
}
#block-invite-invite input.form-submit#edit-submit {
	background-color: #8CDCF3;
	color: #474747;
}
#block-invite-invite {
	color:#FFF;
	background-color: #05AAD9;
	padding-left:25px;
	padding-right:25px;
	padding-top:5px;
	padding-bottom:5px;
	-moz-box-shadow: 0px 0px 25px #C9C9C9;
	-webkit-box-shadow: 0px 0px 25px #C9C9C9;
	box-shadow: 0px 0px 25px #C9C9C9;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#C9C9C9')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#C9C9C9');
}
.field-name-field-exchange-photo {
	float:right;
	padding-left:10px;
	padding-bottom:10px;
	margin-top:10px;
	clear:right;
}
#edit-field-exchange-photo {
	float:none;
	padding-left:0;
}
/* new sharethis buttons */
#sharecontainer {
	float: right;
    padding-right: 10px;
    position: relative;
    z-index: 1;
}

/* new footer menu */
footer .menu {
	float:right;
	list-style-type: none;
}
footer .menu li {
	list-style-type: none;
	list-style-image: url('../images/footer-bullet.gif');
	float: left;
	margin-left: 25px;
	padding:0;
}
footer .menu .first {
	list-style-image: none;
}
footer .block {
	float:left;
	padding-bottom: 22px;
}
footer #block-menu-menu-footer-nav {
	float:right;
}
.region-footer {
	clear:both;
	margin-bottom: 50px;
}
#feedback-link {
	float:right;
}